/*  your css code here. If applicable */
body{
background : #000;
}
.container{
	display: grid;
	grid-template-columns: repeat(40,1fr);
	gap: 3px;
	min-height: 100vh;
/* 	background:black; */
}
.square{
  border: 1px solid #ffffff50;
	width : 25px;
	height: 25px;
	background : rgb(29, 29, 29);
  transition: 1s;
}
.square:hover{
  background-color: yellow;
}
*{
  margin: 0;
}